{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='language' content='RU'>
        <meta name='og:site_name' content='MYLink'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'styles/base_new.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block header %}
        {% endblock %}
        
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% block scripts %}
        {% endblock %}
    </body>
</html>