{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='language' content='RU'>
        <meta name='og:site_name' content='MYLink'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <div style="margin: 0;width: 100%;background-color: white;height: 2rem;position: fixed;left: 0;top: 0;z-index: 555;">
            <a href="/profile/">P</a>
            <a href="/profile/colors/">C</a>
            <a href="/profile/links/">L</a>
            <a href="/logout" class="absolute-right">Выйти</a>
        </div>
        <style>
            html {
                color: #D0EEFF;
            }
        </style>
        
        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>