{% extends 'baza.html' %}

{% block content %}
    <input type="hidden" id="color_obj" value>
    {% for color_id, color in scheme.get_colors_plural.items %}
        <div style="display: flex; margin: 1rem 0px" id="{{color_id}}" class="button">
            <a>{{color_id}}</a>
            <input type="hidden" value="{{color}}" id="{{color_id}}_hash">
            <div style="background-color: {{color}};" id="{{color_id}}_preview" class="color-preview"></div>
        </div>
    {% endfor %}
    <form class="hidden">
        {% csrf_token %}
        <h2>Change color &nbsp; <input type="color" id="color_pick" value></h2>
        <button type="button" class="button" id="change">Change</button>
    </form>
    <a class="white-link" href="#">Создать рандомную</a>
{% endblock %}

{% block scripts %}
<script>
    var color_object = $('#color_obj');
    var color = $('#color_pick');
    function send_change() {
        $.ajax({
          type:'POST',
          url:'/profile/colors/change/',
          data:{
              to_change: color_object.val(),
              color: color.val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          error: function(data){
            console.log(data.responseJSON)
          },
          success: function(data) {
            $("#"+color_object.val()+"_preview")[0].style.backgroundColor = color.val()
            $("#"+color_object.val()+"_hash")[0].value = color.val()
          }
          
        });
    }

    function change_color(color_id) {
        $("form")[0].classList = []

        color_object[0].value = color_id;
        color[0].value = $("#"+color_id+"_hash")[0].value
    }

    const color_objects = ["background", "font", "card", "button", "button_hover", "button_click", "button_font"]
    for (color_obj in color_objects) {
        color_name = color_objects[color_obj]
        $("#"+color_name).click(function() {change_color(this.id)}); // костыль мечты
    }

    $("#change").click(send_change)
</script>
{% endblock  %}
