{% extends 'baza.html' %}
{% block content %}

<style>
    .edit-link {
        text-decoration: none;
        color: #273d49;
        text-align: center;
        cursor: pointer;
    }
    .edit-p {
        transition-duration: .17s;
        padding: 1rem 0rem;
        margin: 0;
        border-radius: .5rem;
    }
    .edit-p:hover {
        background-color: rgb(39, 39, 66, .07);
    }
    .edit-p:focus {
        background-color: rgb(39, 39, 66, .11);
    }
</style>

{% if scheme == None %}

<h1 class="edit-heading">Ещё чуть-чуть</h1>
<div class="center-div">
    <div class="test2">
        <h3>Выберите цветовую схему</h3>
        <a class="edit-link login-input" id="emp">
            <p class="edit-p">
                Стандартная
            </p>
        </a>
        <a class="edit-link login-input" id="own">
            <p class="edit-p">
                Моя собственная
            </p>
        </a>
    </div>
</div>
{% else %}
<h1>Дизайн</h1>
<div style="display: flex;">
    {% for color in scheme.get_colors %}
    <div style="background-color: {{color}};" class="color-preview"></div>
    {% endfor %}
</div>


<a href="/profile/colors/edit" style="color: white">Изменить</a><p></p>
<a href="/profile/colors/test" style="color: white">Протестировать схему</a>
{% endif %}
{% endblock %}

{% block scripts %}
{% if scheme == None %}
<script>
    function create_empty() {
        $.ajax({
          type:'GET',
          url:'/profile/colors/create/',
        });
    }

    $("#emp").click(function() {
        create_empty();
        window.open('/profile/links', '_self');
    })
    $("#own").click(function() {
        create_empty();
        window.open('/profile/colors', '_self');
    })
</script>
{% endif %}
{% endblock %}