{% extends 'base_new.html' %}
{% load static %}

{% block content %}
    <input type="hidden" id="color_obj" value>
    {% for color_id, color in scheme.get_colors_plural.items %}
        <div style="display: flex; margin: 1rem 0px" id="{{color_id}}" class="button">
            <a>{{color_id}}</a>
            <input type="hidden" value="{{color}}" id="{{color_id}}_hash">
            <div style="background-color: {{color}};" id="{{color_id}}_preview" class="color-preview"></div>
        </div>
    {% endfor %}
    <form class="hidden">
        {% csrf_token %}
        <h2>Change color &nbsp; <input type="color" id="color_pick" value></h2>
        <button type="button" class="button" id="change">Change</button>
    </form>
    <a class="white-link" href="#">Создать рандомную</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/colors_edit.js' %}"></script>
{% endblock  %}
