{% extends 'baza.html' %}
{% block content %}

{% if scheme == None %}

<h1 class="edit-heading">Ещё чуть-чуть</h1>
<div class="center-div">
    <div class="card">
        <h3>Выберите цветовую схему</h3>
        <a class="edit-link login-input" id="emp">
            <p class="edit-p">
                Стандартная
            </p>
        </a>
        <a class="edit-link login-input" id="own">
            <p class="edit-p">
                Моя собственная
            </p>
        </a>
    </div>
</div>
{% else %}
<h1>Дизайн</h1>
<div style="display: flex;">
    {% for color in scheme.get_colors %}
    <div style="background-color: {{color}};" class="color-preview"></div>
    {% endfor %}
</div>


<p><a href="/profile/colors/edit" class="white-link">Изменить</a></p>
<p><a href="/profile/colors/test" class="white-link">Протестировать схему</a></p>
{% endif %}
{% endblock %}

{% block scripts %}
{% if scheme == None %}
<script>
    function create_empty() {
        $.ajax({
          type:'GET',
          url:'/profile/colors/create/',
        });
    }

    $("#emp").click(function() {
        create_empty();
        window.open('/profile/links', '_self');
    })
    $("#own").click(function() {
        create_empty();
        window.open('/profile/colors/edit', '_self');
    })
</script>
{% endif %}
{% endblock %}