{% extends 'base_new.html' %}
{% load static %}

{% block header %}

<!-- <div class="popup hid" id="font-popup">
    <div class="card">
        <i class="ti ti-x card-icon close-btn" onclick="javascript:close_popups()"></i>
        <div class="card">Аа СПИСОК ШРИФТОВ</div>
    </div>
</div> -->

<div id="popup" class="popup">
    <div class="card">
      <i class="ti ti-x card-icon close-btn" onclick="javascript:close_popup()"></i>
      <div class="card">Аа СПИСОК ШРИФТОВ</div>
    </div>
  </div>
<div class="popup-overlay"></div>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/popup.css' %}">
{% endblock %}

{% block content %}

{% if scheme == None %}

<h1 class="edit-heading">Ещё чуть-чуть</h1>
<div class="center-div">
    <div class="card">
        <h3>Выберите цветовую схему</h3>
        <a class="edit-link login-input" id="emp">
            <p class="edit-p">
                Стандартная
            </p>
        </a>
        <a class="edit-link login-input" id="own">
            <p class="edit-p">
                Моя собственная
            </p>
        </a>
    </div>
</div>
{% else %}
<div class="outlined-selector" id="selector_1"></div>
<div class="outlined-selector" id="selector_2"></div>
<div class="card-list design-list">
    <h3>Профиль</h3>
    <div class="card">
        <div class="profile-top">
            <div class="ava-circle">
                <img id="profile-image" {% if profile.image %}src="{{ profile.image.url }}"{%else%}class="hid"{% endif %} style="position: absolute;width:0px;">
                <avaname {% if profile.image %}class="hid"{%endif%}>{{profile.name.0.upper}}</avaname>
            </div>
            <div class="buttons">
                <form id="ava-form">
                    <label for="avatar" class="button">Выбрать изображение</label>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="hid">
                </form>
                <div class="button" id="avatar-delete">Удалить</div>
            </div>
        </div>
        <div class="profile-middle">
            <input type="text" placeholder="Имя" id="username" value="{{profile.name}}">
            <input type="text" placeholder="Описание" id="about" value="{{profile.about}}">
        </div>
        <style>
            
        </style>
        <h4>Скругление</h4>
        <div class="profile-bottom">
            <div class="d base-circling" id="avatar_1">1</div>
            <div class="d half-circling" id="avatar_2">2</div>
            <div class="d full-circling" id="avatar_3">3</div>
        </div>
    </div>


    <h3>Фон</h3>
    <div class="card">
        <!-- <div class="background-row">
            <div class="background-chose"></div>
            <div class="background-chose"></div>
            <div class="background-chose"></div>
            <div class="background-chose"></div>
        </div>
        <div class="background-row">
            <div class="background-chose"></div>
            <div class="background-chose"></div>
            <div class="background-chose"></div>
            <div class="background-chose"></div>
        </div> -->
        <h4 class="t">Цвет</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="background-color-input" value="{{scheme.background}}">
            <div class="color-description">
                <h6>Цвет</h6>
                <div class="color" id="background-color-input-text">{{scheme.background}}</div>
            </div>
        </div>
    </div>

    <h3>Кнопки</h3>
    <div class="card">
        <h4 class="t">Заливка</h4>
        <div class="btn-row">
            <div class="s button btn-sample btn-sq" id="s1-1">&nbsp;</div>
            <div class="s button btn-sample btn-semi" id="s1-2">&nbsp;</div>
            <div class="s button btn-sample" id="s1-3">&nbsp;</div>
        </div>
        <h4>Обводка</h4>
        <div class="btn-row">
            <div class="s button btn-sq btn-outline" id="s2-1">&nbsp;</div>
            <div class="s button btn-semi btn-outline" id="s2-2">&nbsp;</div>
            <div class="s button btn-outline" id="s2-3">&nbsp;</div>
        </div>
        <h4>Мягкая тень</h4>
        <div class="btn-row">
            <div class="s button btn-sample btn-soft-shadow btn-sq" id="s3-1">&nbsp;</div>
            <div class="s button btn-sample btn-soft-shadow btn-semi" id="s3-2">&nbsp;</div>
            <div class="s button btn-sample btn-soft-shadow" id="s3-3">&nbsp;</div>
        </div>
        <h4>Жёсткая тень</h4>
        <div class="btn-row">
            <div class="s button btn-sample btn-outline btn-hard-shadow btn-sq" id="s4-1">&nbsp;</div>
            <div class="s button btn-sample btn-outline btn-hard-shadow btn-semi" id="s4-2">&nbsp;</div>
            <div class="s button btn-sample btn-outline btn-hard-shadow" id="s4-3">&nbsp;</div>
        </div>

        <h4>Цвет тени</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="shadow-color-input" value="{{scheme.shadow}}">
            <label class="color-description" for="shadow-color-input">
                <h6>Цвет</h6>
                <div class="color" id="shadow-color-input-text">{{scheme.shadow}}</div>
            </label>
        </div>

        <h4>Цвет кнопки</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="button-color-input" value="{{scheme.button}}">
            <label class="color-description" for="button-color-input">
                <h6>Цвет</h6>
                <div class="color" id="button-color-input-text">{{scheme.button}}</div>
            </label>
        </div>
        
        <h4>Обводка кнопки</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="outline-color-input" value="{{scheme.outline}}">
            <label class="color-description" for="outline-color-input">
                <h6>Цвет</h6>
                <div class="color" id="outline-color-input-text">{{scheme.outline}}</div>
            </label>
        </div>


        <h4>Цвет текста</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="button-text-color-input" value="{{scheme.button_font}}">
            <label class="color-description" for="button-text-color-input">
                <h6>Цвет</h6>
                <div class="color" id="button-text-color-input-text">{{scheme.button_font}}</div>
            </label>
        </div>
    </div>

    <h3>Шрифты</h3>
    <div class="card">
        <style>
            
        </style>
        <div class="color-popup-wrapper">
        <h4 class="t">Шрифт</h4>
            <div class="color-wrapper" id="color-wrapper">
                <img class="font-square" id="font-input-square" src="/media/fonts/{{scheme.img_font}}.webp">
                <div class="color-description font-text">
                    <h6>Шрифт</h6>
                    <div class="color" id="font-input-text">{{scheme.name_font}}</div>
                </div>
            </div>
            <div class="showable flex">
                <iframe src="/profile/design/fonts/"></iframe>
                <a class="button" id="new_font">OK</a>
            </div>
        </div>

        <h4>Цвет</h4>
        <div class="color-wrapper">
            <input type="color" class="colorsss" id="font-color-input" value="{{scheme.font}}">
            <label class="color-description" for="font-color-input">
                <h6>Цвет</h6>
                <div class="color" id="font-color-input-text">{{scheme.font}}</div>
            </label>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% if scheme == None %}
<script src="{% static 'scripts/colors_welcome.js' %}"></script>
{% else %}
{% csrf_token %}
<script src="{% static 'scripts/preview_widget.js' %}"></script>
<script src="{% static 'scripts/colors_edit.js' %}"></script>
<script>
    changeButton(document.getElementById('s{{scheme.button_type}}-{{scheme.button_shape}}'), false);
    changeShape(document.getElementById('avatar_{{scheme.avatar_shape}}'), false);
    setTimeout(function () {document.querySelector('.showable').classList.remove('flex');document.querySelector('.showable').classList.add('hid')}, 700);
</script>

{% endif %}
{% endblock %}