{% load static %}
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
    </head>
    <body>
        <div class="outlined-selector" id="selector_font"></div>
        <link rel="stylesheet" href="{% static 'styles/fonts_style.css' %}">
        <div class="font-search"></div>
        <div class="font-table">
            {% for row in fonts %}
            <div class="font-row">
                {% for font in row %}
                    <div class="font" id="font_{{font.0}}">
                        <img class="font-image" src="/media/fonts/{{font.2}}.webp">
                        <div class="font-text">{{font.1}}</div>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <script src="{% static 'scripts/fonts_page.js' %}"> </script>
        <script>
            {% if user_font != None %}
                setTimeout(function () {set_selector(document.getElementById('font_{{user_font.id}}', false))}, 200);
                
            {% endif %}
        </script>
    </body>
</html>