{% extends 'base_new.html' %}

{% block content %}

{% if profile == None %}
    <h1 class="edit-heading">Пара моментов</h1>
    <div class="center-div">
        <div class="card">
            <h3>Чтобы продолжить, вам необходимо заполнить информацию о профиле</h4>
            <form id="create-profile">
                {% csrf_token %}
                <p>
                    <label for="id_username">Имя</label><br>
                    <input type="text" id="id_username" name="id_username" class="login-input" autocomplete="off">
                </p>
                <p>
                    <label for="id_about">Описание</label><br>
                    <input type="text" id="id_about" name="id_about" class="login-input" autocomplete="off">
                </p>
                <p class="button-group">
                    <button type="submit" class="button">Продолжить</button>
                </p>
            </form>
        </div>
    </div>
{% else %}
    <h1>Привет, {{user.username}}!</h1>
{% endif %}

{% endblock %}

{% block scripts %}
{% if profile == None %}
<script>
    document.getElementById('create-profile').addEventListener('submit', function(e) {
        e.preventDefault();
        username = document.getElementById('id_username').value;
        about = document.getElementById('id_about').value;

        if (username.replace(/\s/g, "") != "" ){
        fetch("/profile/create/", {
            method: "POST",
            body: JSON.stringify({
                    name: username,
                    about: about
                }),
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            })
        .then(data => {
            window.open('/profile/design', '_self');
        });}
});

</script>
{% endif %}
{% endblock %}