{% extends 'baza.html' %}

{% block content %}

{% if profile == None %}
    <h1 class="edit-heading">Пара моментов</h1>
    <div class="center-div">
        <div class="card">
            <h3>Чтобы продолжить, вам необходимо заполнить информацию о профиле</h4>
            <form id="create-profile">
                {% csrf_token %}
                <p>
                    <label for="id_username">Имя</label><br>
                    <input type="text" id="id_username" name="id_username" class="login-input lineedit" autocomplete="off">
                </p>
                <p>
                    <label for="id_about">Описание</label><br>
                    <input type="text" id="id_about" name="id_about" class="login-input lineedit" autocomplete="off">
                </p>
                <p class="button-group">
                    <button type="submit" class="button">Продолжить</button>
                </p>
            </form>
        </div>
    </div>
{% else %}
    <h1>Привет, {{user.username}}!</h1>
{% endif %}

{% endblock %}

{% block scripts %}
{% if profile == None %}
<script>
    $(document).on('submit','#create-profile',function(e){
        e.preventDefault();
    
        $.ajax({
          type:'POST',
          url:'/profile/create/',
          data:{
              username: $('#id_username').val(),
              about: $('#id_about').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
            window.open('/profile/colors', '_self');
          },
          error: function(data){
            alert('куда прёшь');
            console.log(data);
          }
        });
      });
</script>
{% endif %}
{% endblock %}