{% extends 'base_new.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/popup.css' %}">
{% endblock %}

{% block header %}
<div id="popup" class="popup">
    <div class="card">
      <i class="ti ti-x card-icon close-btn" onclick="javascript:close_popup()"></i>
        <h3>Введите ссылку</h3>
        <input id="new_site_url">
        <b class="popup-error"></b>
        <a class="button" onclick="javascript:create_url()" id="popup_add"> <i class="ti ti-plus"></i> Добавить ссылку</a>
    </div>
  </div>
<div class="popup-overlay"></div>
{% endblock%}

{% block content %}
<div class="card-list">
    <a class="button" id="btn_add">
        <i class="ti ti-plus"></i> Добавить ссылку
    </a>
    {% for link in links %}
    <div class="card" id="{{link.id}}c">
      <input type="hidden" class="pos" id="{{link.id}}_pos" value="{{link.position}}">
        <input id="{{link.id}}_name_inp" class="card-edit hid" value="{{link.title}}">
        <b id="{{link.id}}_name">{{link.title}} <i class="ti ti-pencil card-icon intext" id="{{link.id}}_name_btn" onclick="javascript: sh_name('{{link.id}}')"></i></b>
        <div>
            <input id="{{link.id}}_url_inp" class="card-edit hid" value="{{link.url}}">
            <div class="card-link" id="{{link.id}}_url">{{link.url}} <i class="ti ti-pencil card-icon intext" id="{{link.id}}_url_btn" onclick="javascript: sh_url('{{link.id}}')"></i></div></div>
        <div class="card-icons">
            <span>
                <i class="ti ti-arrow-big-up card-icon" onclick="javascript: switch_cards('{{link.id}}', 0)"></i>
                <i class="ti ti-arrow-big-down card-icon" onclick="javascript: switch_cards('{{link.id}}', 1)"></i>
            </span>
            <i class="ti ti-trash card-icon" onclick="javascript: del_link('{{link.id}}')"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}

{% csrf_token %}
<script src="{% static 'scripts/make_safe.js' %}"></script>
<script src="{% static 'scripts/links_edit.js' %}"></script>
{% endblock %}