{% extends 'base_new.html' %}
{% load static %}

{% block header %}
<div class="center-popup" id="central">
    <div class="popup-out" id="modal">
        <div class="popup card" id="popup">
            <form id="popup-form">
                <input class="hidden" id="edit_id" value="">
            {% csrf_token %}
            <p>
                <i class="ti ti-x cross cross-popup" onclick="hide_popup()"></i>
                <label for="form_url">Ссылка</label><br>
                <input class="lineedit login-input" type="text" id="form_url" name="form_url" required>
            </p>
            
            <p>
                <label for="form_title">Название</label><br>
                <input class="lineedit login-input" type="text" id="form_title" name="form_title" required>
            </p>
            <p>
                <label for="form_icon">Иконка</label><br>
                <i class="ti ti-link" id="icon_preview"></i><br>
                <select id="form_icon" class="login-input">
                    <option value="link">Empty</option>
                    {% for icon in all_icons %}
                        <option value="brand-{{icon}}">{{icon}}</option>
                    {% endfor %}
                </select>
            </p>
            <button class="button" id="submit-button">Создать</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<p style="margin-top: 4rem">
    <a class="button" onclick="javascript: toggle_popup()">Добавить</a>
</p>

<h2>Существующие ссылки</h2>

<div id="links" class="links">
    {% for link in links %}
    <p id="link_{{link.id}}" class="link-mobile">
        <span><i class="ti ti-{{link.icon}}"></i> {{link.title}} (<a class="white-link" href="{{link.url}}">{{link.url}}</a>)</span>
        <input type="hidden" id="{{link.id}}_url" value="{{link.url}}">
        <input type="hidden" id="{{link.id}}_title" value="{{link.title}}">
        <input type="hidden" id="{{link.id}}_icon" value="{{link.icon}}">
        <span class="link-buttons">
            <i class="ti ti-pencil cross cross-red edit-icon" onclick="link_to_popup('{{link.id}}')"></i>
            <i class="ti ti-x cross cross-red" onclick="delete_link('{{link.id}}')"></i>
        </span>
    </p>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/make_safe.js' %}"></script>
<script src="{% static 'scripts/links_edit.js' %}"></script>
{% endblock %}