{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='language' content='RU'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='og:site_name' content='MYLink'>
        <meta name="description" content="MYLink. ..">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'styles/landing_basics.css' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>