{% include 'base.html' %}
{% load static %}

{% block header %}
<header>
    <nav>
        <div class="desktop-only"></div>
        <div class="desktop-only"><a class="button" href="/login">Войти</a></div>
    </nav>
</header>
{% endblock %}

{% block content %}
<h1 class="landing-welcome">Привет!</h1>
<div class="center-div">
    <div id="block1">
        MYLink - удобный способ делиться своими контактами со всякими челиками да
        <img src="{% static 'images/floating-sample.webp' %}">
    </div>
</div>
<div id="block2">
    <h2>Персонализация</h2>
    MYLink - удобный способ делиться своими контактами со всякими челиками да
</div>
<div id="block3">
    <h2>рататата</h2>
    моргенштерн
</div>
{% endblock %}