{% include 'base.html' %}
{% load static %}

{% block header %}
<header>
    <nav>
        <div class="desktop-only"></div>
        <div class="desktop-only"><a class="button" href="/login">Войти</a></div>
    </nav>
</header>
{% endblock %}

{% block content %}
<h1 class="landing-welcome">Привет!</h1>
<div class="center-div">
    <div class="block">
        MYLink - удобный способ делиться своими ссылками.<br>С кем угодно.
        <img src="{% static 'images/floating-sample.webp' %}">
    </div>
</div>
<div class="center-div">
    <div class="block" id="b2">
        Что угодно, как угодно.<br>Персонализируйте свой профиль под себя
        <img src="{% static 'images/personalization.webp' %}">
    </div>
</div>

<div class="block">
    <!-- <h2>рататата</h2>
    моргенштерн -->
</div>
{% endblock %}

{% block footer %}
<footer><a href="https://github.com/ultrasaks">github</a></footer>
{% endblock %}