body {
    font-family: 'Raleway', sans-serif;
    background-color: #FDF7E3;
}
header {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: calc(100% - 2rem);
    z-index: 1;
}
nav {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: #FFFDF8;
}
@media (max-width: 800px) {
    /* .desktop-only{
        display: none;
    } */
    .item {
        display: flex;
        flex-direction: column;
        font-size: .8rem!important;
    }
    nav a, nav div {
        padding: .5rem .5rem!important;
    }
    .item .ti {
        margin: 0px!important;
    } 
    .btn-row {
        flex-direction: column;
        align-items: center;
        justify-content: initial;
    }
    .btn-row .button {
        width: 100%;
    }
}

nav a, nav div {
    color: #797976;
    padding: .7rem 1rem;
    font-weight: 600;
    transition-duration: .21s;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
.nav-chosen{
    color: black;
}
.item{
    font-size: 110%;
}
.item .ti {
    margin-right: 0.5rem;
}
.card {
    border-radius: 1.5rem;
    background-color: #FFFDF8;
    padding: 1.5rem;
}
.card h3, .card b {
    margin-top: 0px;
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
}
.card-list{
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.card-list .card {
    margin-top: 1rem;
}
@media (min-width: 800px) {
    .card-list {
        margin: 0 auto 0 50px;
    }
}
.button{
    background-color: #F4CA16;
    color: #433601;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: transform ease-out .15s;
    border-color: transparent;
}
.button:disabled{background: #c1c0b0;
    color: #5e594e;
cursor: auto;
transform: scale(1)!important;}
.button:hover{
    transform: scale(1.05);
}
.button-disabled {
    background-color: #a6a493;
    color: white;
    cursor: not-allowed;
    transform: scale(1);

}
main {
    margin-top: 6rem;
}
.card-list .button{
    max-width: 50%;
    margin: 0 auto;
}
.card-icon{
    font-size: 150%;
    background-color: #FDF2CA;
    border-radius: 25% / 30%;
    padding: .15rem;
    cursor: pointer;
}
.card-icons{
    padding-top: .7rem;
    justify-content: space-between;
    display: flex;
}
.card-link {
    align-items: center;
    display: flex!important;
}
.card .intext {
    margin-left: .5rem
}

.card-edit {
    background: transparent;
    position: absolute;
    padding: 0;
    border-radius: 0;
    font-size: initial;
    line-height: 2;
    z-index: 999;
}
.hid {
    display: none;
    opacity: 0;
}
input[type=text], input[type=email], input[type=password] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #f5efe4;
    font-size: 110%;
    font-weight: 500;
    color: #0c0c0b;
    transition-duration: .21s;
    outline: 1px transparent solid;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    outline: 1px #F4CA16 solid;
}
.login-input {
    width: calc(100% - 2rem);
}
.center-div {
    display: flex;
    justify-content: center;
}
.ava-circle {
    padding: 2rem;
    background: #e4dfdf;
    border-radius: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    overflow: hidden;
}
.profile-top {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.profile-top .buttons {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    box-sizing: border-box;
}
.profile-top .buttons .button {
    width: 100%;
    margin-bottom: 0.5rem;
    box-sizing: content-box;
}
.profile-middle {
    display: flex;
    flex-direction: column;
}
.profile-middle input {
    margin-bottom: .5rem;
}
.btn-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn-sample {
    color: white;
    background: black;
}
.btn-row .button {
    flex-grow: 1;
    margin: 0.5rem 1rem;
}
.btn-sq {
    border-radius: 0rem;
}
.btn-semi {
    border-radius: 0.5rem;
}
.btn-outline {
    background: white;
    outline: black 2px solid;
}
.btn-soft-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    background: white;
    color: black;
}
.btn-hard-shadow {
    box-shadow: 5px 5px 0px #000;
    transition-duration: 0s;
}
.btn-hard-shadow:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0px #000;
}
.color-description {
    display: flex;
    flex-direction: column;
    background: #efebde;
    border-radius: .5rem;
    padding: .7rem 10rem 1rem 1rem;
}
.color-description h6 {
    margin: 0;
    position: absolute;
}
.color-description .color {
    margin-top: 1rem
}
.color-wrapper {
    display: flex;
    align-items: center;
}
input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    box-sizing: border-box;
}
.colorsss::-webkit-color-swatch{
    border-radius: .5rem;
    border: none;
}
.colorsss::-moz-color-swatch{
    border-radius: .5rem;
    border: none;
}
.outlined-selector {
    background: transparent;
    border-radius: .5rem;
    border: 2px #F4CA16 solid;
    position: absolute;
    left: -9999px;
}
.s {
    transform: none!important;
}
avaname {
    position: absolute;
}
.ava-circle image {
    position: relative
}
