@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
html {
    font-family: 'Noto Sans';
}
body {
    background-color: #101C23
}

header {
    align-content: center;
    display: flex;
}

nav {
    position: relative;
    background-color: #BDE7FF;
    border-radius: 2rem;
    height: 3.2rem;
    padding: 1rem;
    max-width: 1000px;
    margin: 1rem 2rem;
}

nav .button {
    position: absolute; 
    right: 1.5rem;
}

.button {
    border-radius: 2rem;
    background-color: #172C38;
    color: #D0EEFF;
    padding: 1rem 1.5rem;
    font-weight: 700;
    border: 0px;
    text-decoration: none;
    transition-duration: .17s;
    cursor: pointer;
}
.button:hover {
    background-color: #1C3746;
}
.button:active {
    background-color: #61889D;
}

.landing-welcome {
    padding-top: 6.5rem;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #D0EEFF;
    font-weight: 800;
}
@media (min-width: 500px){
    .landing-welcome {font-size: 7rem}
}