@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
html {
    font-family: 'Noto Sans';
}
body {
    background-color: #101C23
}

header {
    align-content: center;
    display: flex;
}

nav {
    position: relative;
    background-color: #BDE7FF;
    border-radius: 2rem;
    height: 3.2rem;
    padding: 1rem;
    max-width: 1000px;
    margin: 1rem 2rem;
}

nav .button {
    position: absolute; 
    right: 1.5rem;
}

.button {
    border-radius: 2rem;
    background-color: #172C38;
    color: #D0EEFF;
    padding: .8rem 1.7rem;
    font-weight: 700;
    border: .2rem solid transparent;
    text-decoration: none;
    transition-duration: .17s;
    cursor: pointer;
}
.button:hover {
    background-color: #1C3746;
}
.button:active {
    background-color: #1272a5;
}

.landing-welcome {
    padding-top: 6.5rem;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #D0EEFF;
    font-weight: 800;
}
@media (min-width: 500px){
    .landing-welcome {font-size: 7rem}
}

.test1 {
    display: flex;
    justify-content: center;
}
.test2 {
    background-color: #D0EEFF;
    color: #172C38;
    margin: 1rem 1.5rem;
    padding: 1rem 1rem 5rem 1rem;
    max-width: 650px;
    width: 100%;
    border-radius: 1rem;
    position: relative;
}
.login-input {
    margin-bottom: 1rem;
    width: -webkit-fill-available;
}
input {
    background-color: rgba(0, 0, 20, .17);
    color: #122937;
    outline: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border-color: #122937;
    border-width: .2rem;
    transition-duration: .17s;
}
input:focus {
    background-color: rgba(0, 0, 20, .27);
}
label {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: .4rem;
}
.button-group {
    position: absolute;
    right: 1rem;
}
.button-light {
    color: #172C38;
    background-color: #D0EEFF;
    border-color: #172C38;
}
.button-light:hover {
    background-color: #ADC6D7;
}
.button-light:active {
    background-color: #6F91A8;
}
.error-label {
    color: #c91010;
}