body {
    background-color: #FFFDF8;
    font-family: 'Raleway', sans-serif;
}
.outlined-selector {
    background: transparent;
    border-radius: 0.5rem;
    border: 2px #F4CA16 solid;
    position: absolute;
    left: -9999px;
}
.font-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
}
.font {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.font-image {
    border-radius: 1.5rem;
}
.font-text {
    margin-top: 0.5rem;
}